/**
 * @Custermized elements
 * @lyy0323
 * @version 1.0
 *
 */

/* MBTI */
.MBTIfuncJ {
    clip-path: polygon(100% 50%, 85% 100%, 15% 100%, 0% 50%, 15% 0%, 85% 0%);
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 0 0.5em;
    color: white;
    font-weight: bold;
}

.MBTIfuncJ.Fi {
    background: #FF9999;
}

.MBTIfuncJ.Fe {
    background: #99CC00;
}

.MBTIfuncJ.Ti {
    background: #996600;
}

.MBTIfuncJ.Te {
    background: #336699;
}

.MBTIfuncP {
    font-weight: bold;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 1em;
}

.MBTIfuncP.Si {
    background: #99CCCC;
}

.MBTIfuncP.Se {
    background: #FFCC00;
}

.MBTIfuncP.Ni {
    background: #660099;
}

.MBTIfuncP.Ne {
    background: #CC99FF;
}

.MBTItag {
    color: white;
    padding: 0 0.5em;
    border-radius: 1em;
    font-weight: bold;
    margin: 0 0.25em;
}

.MBTItag.infj {
    background: #669966;
}

.MBTItag.enfj {
    background: #66CC66;
}

.MBTItag.infp {
    background: #669900;
}

.MBTItag.enfp {
    background: #99CC33;
}

.MBTItag.intj {
    background: #996699;
}

.MBTItag.entj {
    background: #CC6699;
}

.MBTItag.intp {
    background: #663399;
}

.MBTItag.entp {
    background: #9966FF;
}

.MBTItag.istj {
    background: #003399;
}

.MBTItag.estj {
    background: #0066CC;
}

.MBTItag.isfj {
    background: #0099CC;
}

.MBTItag.esfj {
    background: #00CCCC;
}

.MBTItag.istp {
    background: #996633;
}

.MBTItag.estp {
    background: #CC9966;
}

.MBTItag.isfp {
    background: #FF9900;
}

.MBTItag.esfp {
    background: #FFCC33;
}

/* 唱和作者 */

.authorspan {
    border-radius: 1em;
    border: 1px solid;
    padding: 0 0.5em;
    display: inline-block;
    position: relative;
}

.authorspan::after {
    position: absolute;
    right: 0em;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    border: none;
    border-radius: 0 1em 1em 0;
    padding: 0 0.5em;
}

.authorspan.huatong8, .authorspan.xiyan3, .authorspan.shaoni2{
    padding-right: 3.5em; /* 增加的额外宽度 */
}

.authorspan.linyuye0 {
    padding-right: 4.5em; /* 增加的额外宽度 */
}

.huatong8 {
    border-color: #cadbce;
}

.xiyan3 {
    border-color: #e3e3d2;
}

.shaoni2 {
    border-color: #d2e3e3;
}

.linyuye0 {
    border-color: #d2d2e3;
}

.authorspan.huatong8::after {
    content: "花桐";
    background-color: #cadbce;
}

.authorspan.xiyan3::after {
    content: "溪烟";
    background-color: #e3e3d2;
}

.authorspan.shaoni2::after {
    content: "韶逆";
    background-color: #d2e3e3;
}

.authorspan.linyuye0::after {
    content: "林雨夜";
    background-color: #d2d2e3;
}

/* pride flags background */

.pride-rainbow {
    background: repeating-linear-gradient(
    127deg,
    #00000000,
    #00000000 0.6em,
    #00000025 1.2em,
    #e4030375 1.2em,
    #e4030375 1.9em,
    #ff8c0075 1.9em,
    #ff8c0075 2.6em,
    #ffed0075 2.6em,
    #ffed0075 3.3em,
    #00802675 3.3em,
    #00802675 4em,
    #24408e75 4em,
    #24408e75 4.7em,
    #73298275 4.7em,
    #73298275 5.4em,
    #00000025 5.4em,
    #00000000 6em)
}

.pride-trans {
    background: repeating-linear-gradient(
    127deg,
    #00000000,
    #00000000 0.6em,
    #00000025 1.2em,
    #66ccff75 1.2em,
    #66ccff75 2.04em,
    #ff99cc75 2.04em,
    #ff99cc75 2.88em,
    #ffffff75 2.88em,
    #ffffff75 3.72em,
    #ff99cc75 3.72em,
    #ff99cc75 4.56em,
    #66ccff75 4.56em,
    #66ccff75 5.4em,
    #00000025 5.4em,
    #00000000 6em)
}

.pride-ace {
    background: repeating-linear-gradient(
    127deg,
    #00000000,
    #00000000 1.2em,
    #00000025 1.8em,
    #00000075 1.8em,
    #00000075 2.85em,
    #9e9e9e75 2.85em,
    #9e9e9e75 3.9em,
    #fcfcfc75 3.9em,
    #fcfcfc75 4.95em,
    #64198975 4.95em,
    #64198975 6em)
}

.pride-enby {
    background: repeating-linear-gradient(
    127deg,
    #00000000,
    #00000000 1.2em,
    #00000025 1.8em,
    #fcf43175 1.8em,
    #fcf43175 2.85em,
    #fcfcfc75 2.85em,
    #fcfcfc75 3.9em,
    #9d59d575 3.9em,
    #9d59d575 4.95em,
    #00000075 4.95em,
    #00000075 6em)
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
