/**
 * @Custermized elements
 * @lyy0323
 * @version 1.0
 *
 */

/* 通用 MBTI 判断功能 */
.MBTIfuncJ {
    clip-path: polygon(100% 50%, 85% 100%, 15% 100%, 0% 50%, 15% 0%, 85% 0%);
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 0 0.5em;
    color: white;
}

.MBTIfuncJ.Fi {
    background: #FF9999;
}

.MBTIfuncJ.Fe {
    background: #99CC00;
}

.MBTIfuncJ.Ti {
    background: #996600;
}

.MBTIfuncJ.Te {
    background: #336699;
}

.MBTIfuncP {
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 1em;
}

.MBTIfuncP.Si {
    background: #99CCCC;
}

.MBTIfuncP.Se {
    background: #FFCC00;
}

.MBTIfuncP.Ni {
    background: #660099;
}

.MBTIfuncP.Ne {
    background: #CC99FF;
}

.MBTItag {
    color: white;
    padding: 0 0.5em;
    border-radius: 1em
}

.MBTItag.infj {
    background: #669966;
}

.MBTItag.enfj {
    background: #66CC66;
}

.MBTItag.infp {
    background: #669900;
}

.MBTItag.enfp {
    background: #99CC33;
}

.MBTItag.intj {
    background: #996699;
}

.MBTItag.entj {
    background: #CC6699;
}

.MBTItag.intp {
    background: #663399;
}

.MBTItag.entp {
    background: #9966FF;
}

.MBTItag.istj {
    background: #003399;
}

.MBTItag.estj {
    background: #0066CC;
}

.MBTItag.isfj {
    background: #0099CC;
}

.MBTItag.esfj {
    background: #00CCCC;
}

.MBTItag.istp {
    background: #996633;
}

.MBTItag.estp {
    background: #CC9966;
}

.MBTItag.isfp {
    background: #FF9900;
}

.MBTItag.esfp {
    background: #FFCC33;
}