---
layout: base
---

{% if page.index %}
    {% for component in page.index %}
        {% if component.position == "top" %}
            {% if component.type == "windbell" %}
                {% include widgets/windbell component=component %}
            {% elsif component.type == "coconut" %}
                {% include widgets/coconut component=component %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

{{ content }}

{% if page.index %}
    {% for component in page.index %}
        {% if component.position == "bottom" %}
            {% if component.type == "windbell" %}
                {% include widgets/windbell component=component %}
            {% elsif component.type == "coconut" %}
                {% include widgets/coconut component=component %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
