---
layout: base
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            <!-- <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                <i class="icon-calendar">{{ page.date | date: "%Y-%m-%d" }}</i>
            </time> -->
            {% if page.categories.size > 0 %}
            <span class="post-category">
            <i class="icon-folder-open">
            {% for page_category in page.categories %}
                <a href="{{ site.baseurl }}/category/#{{ page_category }}">{{ page_category }}</a>
            {% endfor %}
            </i>
        </span> {% endif %} {% if page.tags.size > 0 %} |
            <span class="post-tag">
            <i class="icon-tag">
            {% for page_tag in page.tags %}
                <a href="{{ site.baseurl }}/tags/#{{ page_tag }}">{{ page_tag }}</a>
            {% endfor %}
            </i>
        </span>{% endif %}

        {% if page.content-created %}
        <br>
        <i class="icon-calendar"></i>
        <time datetime="{{ page.content-created | date_to_xmlschema }}" >
            内容创建于 {{ page.content-created | date: "%Y-%m-%d" }}
        </time>
        {% endif %}

        {% if page.content-updated %}
        <br>
        <i class="icon-calendar"></i>
        <time datetime="{{ page.content-updated | date_to_xmlschema }}" >
            内容更新于 {{ page.content-updated | date: "%Y-%m-%d" }}
        </time>
        {% endif %}

        {% if page.archive-created %}
        <br>
        <i class="icon-calendar"></i>
        <time datetime="{{ page.archive-created | date_to_xmlschema }}" >
            页面创建于 {{ page.archive-created | date: "%Y-%m-%d" }}
        </time>
        {% endif %}

        {% if page.archive-updated %}
        <br>
        <i class="icon-calendar"></i>
        <time datetime="{{ page.archive-updated | date_to_xmlschema }}" >
            页面更新于 {{ page.archive-updated | date: "%Y-%m-%d" }}
        </time>
        {% endif %}

            <!-- 阅读量统计， id 将作为查询条件 -->
            <!-- <span id={{page.url}} class="leancloud-visitors" data-flag-title={{page.title}}>
                <span class="post-meta-divider">|</span>
                <span class="post-meta-item-text">阅读量 </span>
                <span class="leancloud-visitors-count"></span>
            </span> -->
        </p>

    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    <div id="donate" >
        <a href="{{ '/donate/' | prepend: site.baseurl }}" style="text-decoration: none" title="donation" >
            <button>猫猫将会收到投喂的每一条小鱼干 ~</button>
        </a>
    </div>


    <div class="post-nav">
        {% if page.previous %}
        <a href="{{ page.previous.url | prepend: site.baseurl }}" class="pre"><i class="icon-chevron-left"> {{
            page.previous.title }}</i></a>
        {% endif %} {% if page.next %}
        <a href="{{ page.next.url | prepend: site.baseurl }}" class="next">{{ page.next.title }} <i
                class="icon-chevron-right"></i></a>
        {% endif %}
    </div>

<div class="container">
  <div class="row">
    <div class="col col-12">
      <script src="https://giscus.app/client.js"
        data-repo="lyy0323/writing"
        data-repo-id="R_kgDONI8anQ"
        data-category="General"
        data-category-id="DIC_kwDONI8anc4Cj7Wx"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
    </div>
  </div>
</div>

</article>
